// Global
$admin: '../images/';

// Colors
$blue: #289fff;
$orange: #fe9948;
$grey: #bbb;
$white: #fff;

// Body
$body-color: #456;
$body-bg: $white;

// Sidebar
$sidebar-bg: #293b5a;

// Nav
$sidebar-link-color: #708ab6;
$sidebar-link-active-color: #0d9fed;
$sidebar-link-active-bg: #21324f;

// Card
$card-border-color: #f0f0f0;
$card-header-bg: $white;
$card-footer-bg: $white;

// Input
$border-color: #cedce8;
